.searchInput{
    width: 60%;
    outline: none;
    border-radius: 50px;
    padding: .5rem;
    margin: 1rem 0rem;
}

.MovieList{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6,1fr);
    text-align: left;
    gap: 1rem;
    background-color: black;
    color: deeppink;
    padding-top: 1rem;
}

span{
    color: #fff;
}


.movieImg{
    width: 100%;
    height: 400px;
    padding: 0rem;
    margin: 0;
}

.MovieCard{
    border:#fff solid 1px
}

.MovieList * :last-child{
    margin: 0;
   justify-content: flex-end;
}