.App {
  text-align: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
}

.searchInput{
  width: 60%;
  outline: none;
  border-radius: 50px;
  padding: .5rem;
  margin: 1rem 0;
  border-radius: black 1px solid;
}

.MovieList{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6,1fr);
  text-align: left;
  gap: 1rem;
  background-color: black;
  color: deeppink;
  padding: 1rem 0;
  margin: 1rem 0 0;
  text-decoration: none;
}

span{
  color: #fff;
}

input{
  width: 50%;
  margin: .25rem;
  padding: .5rem ;
}

.btn{
  color: #fff;
  background-color:deeppink ;
  padding: .5rem;
  border: none;
  cursor: pointer;

}

.btn-regular{
  display: block;
  margin: 1rem  auto ;
}

.movieImg{
  width: 100%;
  height: 400px;
  padding: 0rem;
  margin: 0;
}

.MovieCard{
  border:#fff solid 1px
}

.MovieList * :last-child{
  margin: 0;
 justify-content: flex-end;
}






